@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the  Hollywood Tweet Analyzer!</h1>
    <br /><br />
    <p>On this site, users can input information about their favorite movies and actors and receive the average tweet sentiments for each. Click on one of the pages above to try it!</a></p>
    <img src="hollywood.jpg" alt="hollywood sign"/>
</div>
